body {
  padding: 0;
  margin: 0;
  height: 100vh;
  background-color: #100e14;
  display: flex;
  align-items: center;
  flex-flow: column;
  gap: 20px;
  padding-top: 40px;
}

#video {
  border-radius: 10px;
  width: 75vmin;
}

form {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  width: 75vmin;
}

.time {
  background-color: #393543;
  text-align: center;
  color: white;
  border: none;
  height: 31px;
  width: 63vmin;
  border-radius: 7px;
}

.submit{
  width: 10vmin;
  background-color: #3c1a98;
  border-radius: 7px;
  border: none;
  color: white;
}

.time:focus {
  outline: none;
}

.timer {
  margin-top: 20px;
  color: white;
  font-family: 'Montserrat', sans-serif;
}